{% macro footer(config) %}
<div
  class="w-full border-t border-base-content/10 px-4 py-3 mt-auto flex justify-center"
>
  <p class="text-xs text-base-content/75 leading-relaxed text-center">
    © {{ now() | date(format="%Y") }} {{ config.extra.footer_html |
    default(value='Powered by
    <a
      href="https://www.getzola.org"
      class="hover:text-base-content/70 transition-colors"
      target="_blank"
      rel="noopener"
      >Zola</a
    >') | safe }}
  </p>
</div>
{% endmacro footer %}
