{% component nav_button(url, title, subtitle, direction: string = "next") %}
{% set nav_url = "#" %}
{% if url is starting_with(pat="/") or url is starting_with(pat="http://") or url is starting_with(pat="https://") %}
    {% set nav_url = url %}
{% endif %}
{% set tooltip_shortcut = "d arrowright" %}
{% if direction == "prev" %}
    {% set tooltip_shortcut = "d arrowleft" %}
{% endif %}
<a
    class="nav-button nav-button-{{ direction }} group tooltip tooltip-top"
    href="{{ nav_url | safe }}"
    data-tooltip-key-only="1"
    data-tooltip-shortcut="{{ tooltip_shortcut }}"
    data-tooltip-position="top"
    {% if nav_url != "#" %}data-keybind="{{ tooltip_shortcut }}" data-keybind-action="click"{% endif %}
>
    <div class="nav-button-content">
        <div class="nav-button-direction">
            {% if direction == "prev" %}
                {{ <svg_arrow_left class="w-5 h-5 transition-transform group-hover:-translate-x-1" /> }}
                <span class="nav-button-label">{{ subtitle }}</span>
            {% else %}
                <span class="nav-button-label">{{ subtitle }}</span>
                {{ <svg_arrow_right class="w-5 h-5 transition-transform group-hover:translate-x-1" /> }}
            {% endif %}
        </div>
        <div class="nav-button-title">{{ title }}</div>
    </div>
</a>
{% endcomponent nav_button %}
