{# Category/tag links: same surface as blog post footer + listing cards. #}
{% component category_link(name: string = "", term: string = "") %}
{% set val = name %}
{% if val == "" %}{% set val = term %}{% endif %}
{% set slug = val | slugify %}
<a href="/categories/{{ slug }}/" class="surface-chip-link taxonomy-chip taxonomy-chip--category">{{ val }}</a>
{% endcomponent category_link %}

{% component tag_link(name: string = "", term: string = "") %}
{% set val = name %}
{% if val == "" %}{% set val = term %}{% endif %}
{% set slug = val | slugify %}
<a href="/tags/{{ slug }}/" class="surface-chip-link taxonomy-chip taxonomy-chip--tag"><span class="opacity-50 mr-0.5" aria-hidden="true">#</span>{{ val }}</a>
{% endcomponent tag_link %}
