{%- component email_card(user: string = "pbagnpg", domain: string = "qunahe.zr", icon: string = "fa-solid fa-envelope", title: string = "Send an Email", description: string = "Drop me a message", contrast: bool = false) -%}
{%- set is_contrast = contrast | default(value=false) -%}
<a href="#" class="link-card{% if is_contrast %} link-card-contrast{% endif %}" data-rot13-email="{{ user }}@{{ domain }}">
  <div class="link-title text-lg font-bold">
    <i class="{{ icon }} link-icon"></i>
    {{ title }}
  </div>
  <div class="link-desc text-sm">{{ description }}</div>
</a>
{%- endcomponent email_card -%}
